<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Intervention Recommended </h1>
    <p>
      <%= @yes_votes_count %> out of <%= @total_votes_count %> have answered YES
      to your question: "<%= @question_text %>"<br>
    </p>
    <p>
      Log in to Intervention here for more information: <%= @url %>.
    </p>
  </body>
</html>
