svg {
  transform: rotate(-90deg);
}

#circle_animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.donut #circle_animation {
  -webkit-animation: donut 1s ease-out forwards;
  animation: donut 1s ease-out forwards;
}

@-webkit-keyframes donut {
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes donut {
  to {
    stroke-dashoffset: 80;
  }
}
